/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 bg-white; /* Estilos predeterminados */
}

body.dark {
  @apply text-gray-200 bg-gray-800; /* Estilos en modo oscuro */
}

.bg-gray-200 {
  background-color: #e5e7eb; /* Fondo gris claro */
}

.text-gray-900 {
  color: #111827; /* Texto gris oscuro */
}

.border-black {
  border-color: #000000; /* Borde negro */
}

/* Estilos para el modo oscuro */
body.dark .bg-gray-200 {
  background-color: #1f2937; /* Fondo gris oscuro en modo oscuro */
}

body.dark .text-gray-900 {
  color: #d1d5db; /* Texto gris claro en modo oscuro */
}

body.dark .border-black {
  border-color: #424151; /* Borde gris oscuro en modo oscuro */
}

/* Estilos para elementos de tabla */
@layer base {
  th {
    @apply py-2 ;
  }
  tbody tr {
    @apply border-y hover:bg-blue-100 dark:hover:bg-gray-600;
  }
  tbody td {
    @apply p-2;
  }
}
/* <-- STYLE COMPENENTES TABLE --> -*/

/* @layer components {
    .container-tabla{
        @apply max-w-[1120px];
    }
    @media (max-width: 1120px) {
        .container-tabla{
            & .table{
                @apply w-[1120px]
            }
        }
    }
} */